{% extends "layout.html" %} {% block body %}
<div style="width: 100%">
  <div
    style="
      display: flex;
      align-items: center;
      background-color: #1e1e1e !important;
      padding-left: 16px !important;
      width: 100% !important;
      height: 100px !important;
    "
  >
    <h2 class="menu-title">Dashboard Live CCTV Analytics</h2>
  </div>
  <img src="{{ url_for('video_feed') }}" />
</div>
{% endblock %}
