<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>CCTV Analytics</title>

    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
    <link rel="manifest" href="/static/images/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body style="display: flex; height: 100vh;">
    <nav class="sidebar" style="width: 300px">
      <div
        class="logo-wrapper"
        style="background-color: #1e1e1e; padding-top: 20px"
      >
        <img src="/static/images/logo.png" width="200" />
      </div>
      <div class="sidebar-title">CCTV Analytics</div>
      <ul>
        <li key="0">
          <a href="{{url_for('index')}}"> Dashboard </a>
        </li>
        <li key="1">
          <a href="{{url_for('registRtsp')}}"> Regist RTSP </a>
        </li>
        <li key="2">
          <a href="{{url_for('registUser')}}"> Regist User </a>
        </li>
        <li key="3">
          <a href="{{url_for('logout')}}"> Logout </a>
        </li>
      </ul>
    </nav>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
