<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>CCTV Analytics</title>

    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />
  </head>

  <body style="display: flex; height: 100vh; justify-content: center; align-items: center;">
   
      <div class="content">
        <div class="logo-wrapper">
          <img src="/static/images/logo.png" width="300" />
        </div>
        <p class="login-desc">Login CCTV Analitik Satpol PP</p>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="login-alert"><strong>Error!</strong> {{message}}</div>
        {% endfor %} {% endif %} {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
          <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              name="pass"
              placeholder="Password"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            style="height: 50px; font-size: 24px"
          >
            Log In
          </button>
        </form>
      </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
