{% extends "layout.html" %} {% block body %}
<div style="width: 100%">
  <div
    style="
      display: flex;
      align-items: center;
      background-color: #1e1e1e !important;
      padding-left: 16px !important;
      width: 100% !important;
      height: 100px !important;
    "
  >
    <h2 class="menu-title">Registrasi Pengguna Baru</h2>
  </div>
  <div style="width: 600px; padding: 16px; padding-top: 32px">
    <form method="POST" action="#">
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputEmail1">Nama Pengguna</label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Masukkan Nama pengguna"
        />
      </div>
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Masukkan Password"
        />
      </div>
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputPassword1">Jabatan</label>
        <input
          type="text"
          class="form-control"
          name="role"
          placeholder="Masukkan Jabatan"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block"
        style="height: 50px; font-size: 24px"
      >
        Daftarkan Pengguna
      </button>
    </form>
  </div>
</div>
{% endblock %}
